---
import App from '../components/App';
---

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Robot Simulator</title>
  </head>
  <body>
    <App client:load />
  </body>
</html>
